# Секреты
.env
.env.local
secret.env
*.env


# Виртуальное окружение
venv/
venv*/
.env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
.DS_Store

# ОС и редакторы
.DS_Store
Thumbs.db